/* Styles for the audio player controls */
#audioPlayer {
    display: none; /* Hide the audio player initially */
  }
  
  .l1, .l2, .l3 {
    background-color: #000000; /* Green background color */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    width:4%;
  }
  
  .l1{
    position: fixed;
    bottom: 20px;
    left:5px ;
  }
  .l2{
    position: fixed;
    bottom: 70px;
    left:5px ;
  }
  .l3{
    position: fixed;
    bottom: 120px;
    left:5px ;
  }
  