<header class="header-environnement">
    <a routerLink="/"> &lt; Retour</a>
    <img src="../../assets/img/logo/logo.png" alt="">
</header>
<main class="creation-environnement">
    <form action="" class="creation-environnement-form">
        <div class="input-container">
            <label for="nom-civilisation" class="label-nom-civilisation">Entrer un nom de civilisation</label>
            <input id="nom-civilisation" name="nom-civilisation" type="text" />
        </div>
        <div *ngIf="listeEnvironnements">
            <ul class="liste-logo-environnement" *ngIf="listeEnvironnements">
                <li *ngFor="let envKey of listeEnvironnements | keyvalue; let i = index" 
                    (click)="setSelectedEnvKey(envKey.key)"
                    [class.selected]="selectedKey === envKey.key">
                    <img class="base-image" [src]="envKey.value.logo" [alt]="envKey.value.nom">
                    <img class="hover-image" [src]="envKey.value['logo-hover']" [alt]="envKey.value.nom">
                </li>
              </ul>
        </div>
        <div *ngIf="hoveredKey || selectedKey" class="info-environnement">
            <h2>{{ getEnvironmentInfo(hoveredKey || selectedKey, 'nom') }}</h2>
            <p class="description">{{ getEnvironmentInfo(hoveredKey || selectedKey, 'description') }}</p>
            <button class="button-environnement" routerLink="/page-jeu">Créer Civilisation</button>
        </div>
    </form>
    <!-- <p *ngIf="listeEnvironnements">{{ listeEnvironnements | json }}</p> -->
</main>
