.zone_batiments{
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

button{
    background-color: white;
}

.multiplicateur{
    background-color: grey;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.activate{
    background-color: white;
    color: black;
}