ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
    padding-left: 0;
    li {
      width: 170px;
      text-align: center;
      img {
        cursor: pointer;
        width: 30%;
        transition-duration: 0.3s;
        &:hover {
          width: 40%;
        }
      }
    }
}