@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.modal-background {
    z-index: 500;
    position: fixed; /* ou absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modal {
    border-radius: 10px;
    background-color: black;
    width: 85%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(14, 14, 14);
    box-shadow:  0px 0px 8px 5px rgba(0,0,0,0.74);
    background-image: url("../../../assets/img/image/recherches-fond.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: solid 2px rgb(65, 88, 85);
    box-sizing: border-box;
    .modal-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: sticky;
        top: 0;
        background-color: rgb(0, 0, 0);
        z-index: 1000;
        box-shadow: 0px 11px 27px 0px rgba(0,0,0,0.79);
        &::before,
        &::after {
            content: "";
            flex: 1;
        }
        .close-button {
            position: absolute;
            left: 0;
            cursor: pointer;
            font-size: 30px;
            padding: 0 10px 0 10px;
            border-radius: 5px;
            margin-left: 20px;
            &:hover {
                border: 2px solid rgb(43, 43, 43);
                margin-left: 18px;
                background-color: black;
            }
        }
        h3 {
            font-style: 'Montserrat', sans-serif;;
        }
    }
    .modal-content {
        overflow-y:hidden;
        overflow-x:scroll;
        position: relative; 
        padding: 15px;
        padding-top: 0;
        display: flex;
        flex-direction: row;
        height: 91%;
        align-items: center;
    }
    
    ul {
        height: 100%;
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }
    
    li {
        display: flex;
        flex-direction: row; /* Oriente le contenu de l'élément de la liste horizontalement */
        align-items: center;
        height: 100%;
    }
    
    li > div {
        padding: 0 20px 0 30px;
    }
    
    /* Style supplémentaire pour aligner les éléments enfants */
    li > ul {
        display: flex;
        flex-direction: column;
        padding-left: 20px; /* Espace pour visualiser la hiérarchie */
        justify-content: center;
    }
    
    /* Cache le connecteur vertical par défaut */
    li::after {
        display: none;
    }

    /* Ajoute un connecteur vertical si un 'li' suit un autre 'li', indiquant plusieurs enfants */
    li + li::before {
        content: '';
        position: absolute;
        top: 0; /* Ajustez si nécessaire pour aligner avec le parent */
        left: -40px; /* Position horizontale du connecteur, à ajuster */
        transform: translateY(-50%); 
        height: calc(100%); /* Hauteur pour connecter au li précédent et suivant */
        border-left: 2px solid #fff; /* Style du connecteur vertical */
    }

    /* Connecteur horizontal pour tous les 'li' */
    li > div::before {
        content: '';
        position: absolute;
        top: 50%;
        left: -40px; /* Ajustez pour la longueur souhaitée du connecteur horizontal */
        width: 60px;
        border-top: 2px solid #fff; /* Style du connecteur horizontal */
    }

    /* Assure que les 'li' sont positionnés relativement pour que les pseudos-éléments se positionnent correctement */
    li {
        position: relative;
    }

    /* Style supplémentaire pour aligner les éléments enfants */
    li > ul {
        padding-left: 40px; /* Espace pour visualiser la hiérarchie et les connecteurs */
    }

    .tooltip {
        cursor: pointer;
        position: relative; /* Assurez-vous que le parent direct a une position relative pour le positionnement absolu de l'enfant */
        display: inline-block; /* Pour s'assurer que l'élément tooltip s'ajuste à son contenu */
        transition-duration: 0.3s;
        &:hover {
            color: #242424;
            background-color: #fff;
            border-radius: 5px;
            font-weight: 700;
            //margin-left: -0.19%;
        }
    }

    .tooltip-activate {
        position: relative;
        display: inline-block;
        color: #242424;
        background-color: #fff;
        border-radius: 5px;
    }

    .tooltiptext-left {
        left: auto; // Désactivez le positionnement gauche par défaut
        right: 100%; // Positionnez à gauche de l'élément tooltip
        transform: translate(0, -50%); // Ajustez si nécessaire pour centrer verticalement
    }
    
    span {
        visibility: visible;
        width: 200px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0px 0px 20px 4px rgb(0, 0, 0);
        position: absolute;
        z-index: 1001;
        top: 0;
        left: 100%;
        transform: translate(0, -50%);
        /* Apparition */
        opacity: 1;
        transition: opacity 0.3s ease-in-out;

    }

    .tool-description {
        font-size: 12px;
        font-style: italic;
        color: #b3b3b3;
    }

    .bonus-values-list {
        font-size: 12px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        .bonus-values-element {
            text-align: left;
            .bonus-values-element-value {
                min-width: 30px;
                background-color: #242424;
                border-radius: 50px;
                padding: 10px;
                
            }
        }
    }



    
    // .tooltip:hover .tooltiptext {
    //     visibility: visible;
    //     opacity: 1;
    // }

    // .tooltip:hover .tooltiptext-left {
    //     visibility: visible;
    //     opacity: 1;
    // }
    
    
    
}