<div *ngIf="displayModal" class="modal-background" (click)="onBackgroundClicked($event)">
    <div class="modal" (click)="$event.stopPropagation()">
        <div class="modal-title">
            <span class="close-button" (click)="closeModal()">&times;</span>
            <h3>Arbre de Recherches</h3>
        </div>
        <div class="modal-content">
            <ul *ngIf="arborescenceRecherche && arborescenceRecherche.length > 0">
                <ng-container *ngTemplateOutlet="recursiveList; context: {$implicit: arborescenceRecherche}"></ng-container>
            </ul>
        </div>
    </div>
</div>

<ng-template #recursiveList let-recherches>
    <li *ngFor="let recherche of recherches">
        <div>{{ recherche.nom }}</div>
        <ul *ngIf="recherche.enfant && recherche.enfant.length > 0">
            <ng-container *ngTemplateOutlet="recursiveList; context: {$implicit: recherche.enfant}"></ng-container>
        </ul>
    </li>
</ng-template>
