<app-header-jeu></app-header-jeu>
<div #zone1Container mwlDroppable (drop)="onDropZone1($event)" class="dropZone1" dragOverClass="drop-over-active">
    <span [hidden]="droppedDataZone1">Drop here</span>
    <span [hidden]="!droppedDataZone1"
      ><app-drappable [data]="droppedDataZone1"></app-drappable></span
    >
  </div>
  
  <div #zone2Container mwlDroppable (drop)="onDropZone2($event)" class="dropZone2" dragOverClass="drop-over-active">
    <span [hidden]="droppedDataZone2">Drop here</span>
    <span [hidden]="!droppedDataZone2">
      
      <app-drappable [data]="droppedDataZone2"></app-drappable>
    </span>
  </div>
<app-menu-burger></app-menu-burger>
<!-- <app-frise-chronologique></app-frise-chronologique>
<app-modal-arbre-recherche></app-modal-arbre-recherche> -->