<button (click)="toggleMenu()" class="burger-img">
    <img src="assets\img\burger\coli.png" alt="Menu" class="burger-img" height="55"/>
</button>
<button (click)="toggleMenu()" class="burger-img2">
  <img src="assets\img\burger\vu.png" alt="Menu" class="burger-img2" height="55"/>
</button>
<button (click)="toggleMenu()" class="burger-img3">
  <img src="assets\img\burger\home.png" alt="Menu" class="burger-img3" height="55"/>
</button>
<button (click)="toggleMenu()" class="burger-img4">
  <img src="assets\img\burger\metier.png" alt="Menu" class="burger-img4" height="55"/>
</button>
<button (click)="toggleMenu()" class="burger-img5">
<img src="assets\img\burger\ressource.png" alt="Menu" class="burger-img5" height="55"/>
</button>
<button (click)="toggleMenu()" class="burger-img6">
<img src="assets\img\burger\puissance.png" alt="Menu" class="burger-img6" height="55"/>
</button>