.liste-ere{
  list-style: none;
  margin-left: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 0;
  margin-bottom: 40px;
  width: 100%;
  li {
    width: fit-content;
    height: 100%;
    //width: 290px;
    height: 40px;
    //border-right: 1px solid rgb(138, 138, 138);
    display: flex; // Utilise Flexbox pour le conteneur
    justify-content: center; // Centre horizontalement le contenu
    align-items: center; // Centre verticalement le contenu
    text-align: center;
    color: rgb(65, 65, 65);
    padding-right: 10px;
    img {
      width: 100%;
    }
  
  }
}
