ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 15px;
  padding-left: 0;
  flex-wrap: wrap;
  li {
    width: 130px;
    text-align: center;
    img {
      cursor: pointer;
      width: 25%;
      transition-duration: 0.3s;
      &:hover {
        margin-top: -10%;
        width: 35%;
      }
    }
  }
}