.zone_metiers{
    display: grid;
    grid-template-columns: 400px 100px 100px;
}

button{
    background-color: white;
}
.boutons-soustractions{
    display: inline-block;
}
.informations{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}
.boutons-additions{
    display: inline-block;
    border:1px;
    border-color: black;
}

.multiplicateur{
    background-color: grey;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.activate{
    background-color: white;
    color: black;
}